.createteam-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    width: 100%;
    align-items: center;
    overflow: scroll;
}

.createteam-container select{
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin-top: 10px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: #fff;
  text-align: center;
}

.createteam-container option{
  color: #000;
}

.pitch-container{
  background: rgba( 31, 38, 51, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  width: 50%;
  height: 100%;
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.pitch-container .subs-bench{
    list-style: none;
}