.login-form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: rgba( 31, 38, 51, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .form-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    color: #fff;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .submit-button {
    width: 100%;
    background-color: #005792;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .submit-button:hover {
    background-color: #003559;
  }

  .account-info {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #777;
  }
  
  .signup-link {
    color: #005792;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }


  .auth-actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }