  .account-info {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #777;
  }

  .account-info a{
    text-decoration: none;
  }

  .signupdiv{
  margin-top: 85px  !important;
  height: 100vh;
  align-items: center;
  margin: auto;
}

.img-signup{
  width: 100%;
  height: auto;
}