.view-leagues-container {
    margin-top: 85px;
    background: rgba( 31, 38, 51, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
}

.heading-primary, .heading-secondary {
    text-align: center;
    color: #fff;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.button {
    width: 100%;
    background-color: #45a29e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #1f2833;
}

.existing-leagues-container li {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.existing-league {
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.existing-league:hover {
    background-color: #1f2833;
}

.create-league-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}