table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

th {
    font-size: 17px;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
