table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
  border: none;
}

th {
  font-size: 17px;
  padding: 0.5rem;
  border: none;
}

td {
  padding: 0.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
 

.player-link{
  text-decoration: none;
  color: #fff;
}

.player-link:hover{
  cursor: pointer;
  font-size: 24px;
}