.home-page-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #005792;
    color: #fff;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}