@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: #0b0c10;
    color: #fff;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR  */
.navbar{
  width: 100%;
  /* background: url('https://www.premierleague.com/resources/prod/v6.110.0-4750/i/bg-elements/heading-bg-desktop.svg') center center; */
  background: rgba( 31, 38, 51, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* border-bottom: 1px solid burlywood; */
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 5;
  margin-top: 5px;
}

.navbar .onescore-logo{
  font-family: 'Montez', cursive;
  font-size: 27px;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.navbar li{
    margin: 5px;
    align-items: center;
}

.navbar a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover{
    font-size: 1.5rem;
    font-weight: bold;
}

/* PAGE FOOTER  */
.footer{
    /* background: url('https://www.premierleague.com/resources/prod/v6.110.0-4750/i/bg-elements/heading-bg-desktop.svg') repeat-x center center; */
  background: rgba( 31, 38, 51, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
} 

.footer img{
  width: 30px;
  margin-top: 5px;
  border-radius: 20px;
}

/* LIVESCORE PAGE  */
.livescore-container {
    display: flex;
  }
  
  .left-bar {
    width: 20%;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .bar-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .league-button {
    width: 100%;
    background-color: #fff;
    color: #005792;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
  }
  
  .league-button:hover {
    background-color: #f2f2f2;
  }
  
  .league-button.selected {
    background-color: #003559;
    color: #fff;
  }
  
  .scores-container {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .score-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .team-name {
    width: 30%;
    text-align: center;
    font-size: 18px;
  }
  
  .score {
    width: 40%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  