@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body{
    background-color: #28231d;
    color: #f4f4f4;
    margin-top: 0;
    font-family: 'Overpass', sans-serif;
}

/* NAVBAR  */
.navbar{
    width: 100%;
    background-color: #28231d;
    border-bottom: 1px solid burlywood;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.navbar li{
    margin: 5px;
    align-items: center;
}

.navbar a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #f4f4f4;
}

.navbar a:hover{
    font-size: 1.5rem;
    font-weight: bold;
}

/* PAGE FOOTER  */
.footer{
    border-top: 1px solid burlywood;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    text-align: center;
} 

/* LIVESCORE PAGE  */
.sidebar{
    line-height: 19px;
    text-decoration: rgb(255, 255, 255);
    word-spacing: 0px;
    background: 0% 0%;
    height: 560px;
    width: 280px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sidebar h2{
    font-size: 31px;
}

.top-leagues{
    list-style: none;
}


.top-leagues li{
    font-size: 21px;
    margin-top: 30px;
}

.top-leagues li a{
    text-decoration: none;
    color: #ffffff;
}

.live{
    display: flex;
    flex-direction: row;
}

.scores{
    width: 100%;
    align-items: center;
    text-align: center;
}

.scorecard{
    display: flex;
    text-align: center;
    width: inherit;
    justify-content: space-around;
    margin-left: 50px;
    padding: 10px;
}