@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body{
    background-color: #28231d;
    color: #f4f4f4;
    margin-top: 0;
    font-family: 'Overpass', sans-serif;
}

/* NAVBAR  */
.navbar{
    width: 100%;
    background-color: #28231d;
    border-bottom: 1px solid burlywood;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.navbar li{
    margin: 5px;
    align-items: center;
}

.navbar a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #f4f4f4;
}

.navbar a:hover{
    font-size: 1.5rem;
    font-weight: bold;
}

/* PAGE FOOTER  */
.footer{
    border-top: 1px solid burlywood;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    text-align: center;
} 

/* LIVESCORE PAGE  */
.sidebar{
    font-size: 19px;
    line-height: 19px;
    text-decoration: rgb(255, 255, 255);
    word-spacing: 0px;
    background: 0% 0%;
    height: 560px;
    width: 280px;
    display: flex;
    box-sizing: border-box;
}

.league-list{
    font-size: 18px;
    height: 60px;
    width: 280px;
    padding: 0 20px 0 20px;
    min-height: auto;
    min-width: auto;
    display: flex;
    box-sizing: border-box;
    border-radius:25px;
}

.league-list h2{
    font-size: 21px;
    line-height: 21px;
    word-spacing: 0px;
    height: 21px;
    width: 111.533px;
    min-height: auto;
    min-width: auto;
    display: block;
    box-sizing: border-box;
}