.livescore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 75px;
}

.livescorecard{
  margin-left: 5px;
  margin-top: 15px;
}

.matchestoday{
  width: 100%;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 28px;
}

.score{
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score .home-team,.away-team{
  display: flex;
  justify-content: space-between;
}

.score .home-team-img, .away-team-img{
  padding: 5px;
  width: 50px;
  height: 45px;
}

.score p{
  font-size: 16px;
}